# Dependências
node_modules/

# Build
dist/
build/
.vite/

# Ambiente
.env
.env.local
.env.*.local


# Logs
*.log
npm-debug.log*

# Editor / SO
.vscode/*
!.vscode/extensions.json
.DS_Store
Thumbs.db

TODO.md
